<section>
    @if (isLoggedIn) {
        @defer() {
            <p>Bienvenido, {{ username }}</p>
            <img (click)="greet()" alt="photo" src="https://github.com/SergioIzq.png" />
        } @loading (minimum 3s) {
            <p>Iniciando sesión ...</p>
        }        
    } @else {    
        <p>¡Inicia sesión!</p>
        <button (click)="isLoggedIn = true">Log In</button>            
    }

    <app-games (addFavoriteGame)="getFavorite($event)" username="{{ username }}"></app-games>

    @if (favGame !== '') {
        <p>Tu juego favorito es {{ favGame }}</p>
    }
</section>

